<!--
    About page ejs
    Bohdan
    301280168
    October 4 2022
-->
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/about.css' />
    <title><%- title %></title>
    <%include partial/head.ejs %>
</head>
<body>
    <div id="aboutcont">
        <div id="inabout">
            <img id="mepic" src="/images\me.jpg">
            <header id="hname">Bohdan Drozd</header>
            <div id="descd">
                <p>
                    Hello Everyone! My name is Bohdan Bogdan, and I am from Kyiv, Ukraine. 
                    I graduated from my local college in Ukraine as a Software developer. I have studied there from 2015 to 2019.
                </p>
                <p>
                    After all that, I have successfully passed the entry exams in National Aviation University and studied there for around one and a half years majoring in Software Engineering.
                    Unfortunately I did not get my diploma because I moved to Toronto, Canada in December 2020. Nowadays, I am a proud student of Centennial College learning the true art of Software Engineering Technology.
                </p>
           </div>
        </div>
    </div>
</body>