<!--
    About page ejs
    Bohdan
    301280168
    October 4 2022
-->
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/about.css' />
    <title><%- title %></title>
    <%include partial/head.ejs %>
</head>
<body>
    <div id="aboutcont">
        <div id="inabout">
            <img id="mepic" src="/images\me.jpg">
            <header id="hname">Bohdan Drozd</header>
            <div id="descd">
                <p>
                    Hello to Everyone! My name is Bohdan, I am from Ukraine, Kyiv city.
                    So, I was graduated in my local college as a "Software developer"; I have studied from 2015-2019 years.
                </p>
                <p>
                    Then, I have successfully passed thought exams in National Aviation University and studied there around 1,5 years as a "Software Engineering".
                    Unfortunately I did not get my diploma due to moved in Canada,Toronto in December 2020. Nowadays, I am student of "Centennial College" in the speciality "Software Engineering Technology".
                </p>
           </div>
        </div>
    </div>
</body>