<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href="/stylesheets/contact.css"/>
    <%include partial/head.ejs %>
</head>
<body>
    <div id="servcont">
        <div id="dexper">
            <h1 id="hexper">My Contacts:</h1>
        </div>
        <div>
            <div id="inserv">
                <div id="dc">
                 <p>
                     ■ Email: bdrozd@my.centennialcollege.ca
                 </p>
                 <p>
                     ■ Cell phone: 437-533-9944
                 </p>
                 <p>
                    ■ 941 Progress Ave, Scarborough, ON M1G 3T8
                 </p>
                 <br>
                 <br>
                 <br>
                 <br>
                 <br>
                 <br>
                 <p id="allr">
                     © 2022 Centennial College. All Rights Reserved.
                 </p>
                 <div id="uform">
                     <form id="mform">
                        <div>
                            <label>First name:</label>
                            <input id="fl" type="text" class="dc" placeholder="Type first name">
                        </div>
                        <br>
                        <div>
                            <label>Last name:</label>
                            <input type="text" class="dc" placeholder="Type last name">
                        </div>
                        <br>
                        <div>
                            <label>Number:</label>
                            <input type="text" class="dc" placeholder="type number">
                        </div>
                        <br>
                        <div>
                            <label>Email:</label>
                            <input type="text" class="dc" placeholder="type email">
                        </div>
                        <br>
                        <div>
                            <label>Message:</label>
                            <input id="msg" type="text" class="dc" placeholder="your message">
                        </div>
                         <input type="button" id="buts" value="Submit">
                     </form>
                 </div>
                </div> 
             </div>
        </div>
    </div>
</body>