<!-- 
    Projects page ejs
    Bohdan
    301280168
    October 4 2022
-->
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/projects.css' />
    <title><%- title %></title>
    <%include partial/head.ejs %>
</head>
<body>
    <div id="servcont">
        <div id="dexper">
            <h1 id="hexper">My Projects:</h1>
        </div>
        <div id="inserv">
            <h1 id="sad">I have nothing to show right now, no big projects,nor even completely finished projects unfortunately :(</h1>
        </div>
    </div>
</body>