<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/services.css' />

    <%include partial/head.ejs %>
</head>
<body>
 <div id="servcont">
    <div id="dexper">
        <h1 id="hexper">Experience:</h1>
    </div>
    <div id="inserv">
        <div class="ds">
        <img src="images/c-sharp.png" id="cs">
        <header class="hs">•C#</header>
         <p class="pl1">
            Hello to Everyone! My name is Bohdan, I am from Ukraine, Kyiv city.
            So, I was graduated in my local college as a "Software developer"; I have studied from 2015-2019 years.
        </p>
       </div>
       <div class="ds">
        <img src="images/jsicon.png" id="cs">
        <header class="hs">•Js/jQuery</header>
        <p class="pl1">
            Hello to Everyone! My name is Bohdan, I am from Ukraine, Kyiv city.
            So, I was graduated in my local college as a "Software developer"; I have studied from 2015-2019 years.
         </p>
       </div>
       <div class="ds">
        <img src="images/java.png" id="cs">
        <header class="hs">•Java</header>
        <p class="pl1">
            Hello to Everyone! My name is Bohdan, I am from Ukraine, Kyiv city.
            So, I was graduated in my local college as a "Software developer"; I have studied from 2015-2019 years.
         </p>
       </div>
   </div>
 </div>
</body>