<!-- 
    Services ejs
    Bohdan
    301280168
    October 4 2022
-->
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/services.css' />

    <title><%- title %></title>
    <%include partial/head.ejs %>
</head>
<body>
 <div id="servcont">
    <div id="dexper">
        <h1 id="hexper">Experience:</h1>
    </div>
    <div id="inserv">
        <div class="ds">
        <img src="images/c-sharp.png" class="cs">
        <header class="hs">•C#</header>
         <p class="pl1">
            • Console Applications<br>
            <br>
            • Windows Forms App<br>
            <br>
            • WPF Applications<br>
            <br>
            • Object-oriented programming<br>
        </p>
       </div>
       <div class="ds">
        <img src="images/jsicon.png" class="cs">
        <header class="hs" id="hjs">•Js/jQuery</header>
        <p class="pl1">
            • JavaScript<br>
            <br>
            • Library - jQuery<br>
            <br>
            • HTML<br>
            <br>
            • CSS<br>
            <br>
            • GIT<br>
            <br>
            • PHP(For server requests)<br>
         </p>
       </div>
       <div class="ds">
        <img src="images/java.png" class="cs">
        <header class="hs">•Java</header>
        <p class="pl1" id="pj">
            • JavaFX<br>
            <br>
            • JavaSwing<br>
            <br>
            • JDBC<br>
         </p>
       </div>
       <div class="ds">
        <img src="images/sql.png" class="cs">
        <div>
            <header class="hs">•SQL</header>
        </div>
        <p class="pl1">
            • Oracle<br>
            <br>
            • MSSQL<br>
            <br>
            • MongoDB(begginer)<br>
         </p>
       </div>
   </div>
 </div>
</body>