/*
<!-- 
    About page css
    Bohdan
    301280168
    October 4 2022
-->
*/

#aboutcont
{
  background-color: rgb(180, 189, 199);
  width: 1300px;
  margin-left: 300px;

    background-color: rgb(154, 177, 204);
    /*background-color: rgb(180, 189, 199);*/
  width: 1300px;
  margin-left: 210px;

  height: 600px;
  display: flex;
  border-radius: 5px;
}
#inabout
{
    display: flex;
    width: 1200px;
    height: 535px;
    background-color: rgb(223, 220, 220);
    opacity: 92%;
    margin-left: 50px;
    margin-top: 20px;
    border-radius: 5px;
}
#mepic
{
    width: 367px;
    height: 463px;
    position: relative;
    margin-top: 20px;
    border-radius: 5px;
    margin-left: 40px;
}
#descd
{
    position: relative;
    font-size: x-large;
    text-shadow: 15px;
    margin-top: 50px;
    border: 1px solid rgb(214, 202, 202);
    width: 550px;
    height: 400px;
    text-align: left;
    padding-left: 20px;
    font-family: -apple-system;
    right: 90px;
    font-weight: lighter;
}
#hname
{
    position: relative;
    display: flex;
    left: 60px;
    font-size: xx-large;
    font-family: system-ui;
    font-weight: lighter;
}