<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/about.css' />
    <%include head.ejs %>
</head>
<body>
    <div id="aboutcont">
        
    </div>
</body>