<div id="bc">
    <div id="lbdiv">
        <label class="labm">Home Page</label>
        <label class="labm">About Me</label>
        <label class="labm">Projects</label>
        <label class="labm">Services</label>
        <label class="labm">Contact Me</label>
    </div>
    <br>
    <br>
    <div id="imgitems">
      <a href="/"><img src="/images/home.png" class="imgmarg"></a>
      <a href="about"><img src="/images/info.png" class="imgmarg"></a>
      <a><img src="/images/project.png" class="imgmarg"></a>
      <a href="services"><img src="/images/service.png" class="imgmarg"></a>
      <a href="contact"><img src="/images/contact.png" class="imgmarg"></a>
    </div>
</div>