<!-- 
    Head page ejs
    Bohdan
    301280168
    October 4 2022
-->
<head>
    <link rel="icon" href="images/global.png">
</head>
<div id="bc">
    <div id="logo">
        <img class="imgmarg" src="/images/pyr.gif">
    </div>
    <div id="lbdiv">
        <label class="labm" id="">Home Page</label>
        <label class="labm" id="lbi">About Me</label>
        <label class="labm" id="lbc">Projects</label>
        <label class="labm" id="lbs">Services</label>
        <label class="labm" id="lbp">Contact Me</label>
        <label class="labm" id="lbo">Business list</label>
        <label class="labm" id="lbn">Sign In</label>
    </div>
    <br>
    <br>
    <div id="imgitems">
      <a href="/"><img src="/images/home.png" class="imgmarg"></a>
      <a href="about"><img src="/images/info.png" class="imgmarg"></a>
      <a href="projects"><img src="/images/project.png" class="imgmarg"></a>
      <a href="services"><img src="/images/service.png" class="imgmarg"></a>
      <a href="contact"><img src="/images/phone-call.png" class="imgmarg"></a>
      <a href="business"><img src="/images/contact-book.png" class="imgmarg"></a>
      <a href="sign_in"><img src="/images/enter.png" class="imgmarg"></a>
    </div>
</div>